@import '../../styles/variables.css';

.promo {
  position: relative;
  width: 100%;
  aspect-ratio: 3 / 2;
  overflow: hidden;
  border-radius: 16px;
  box-shadow: 0 20px 25px rgba(0, 0, 0, 0.300);
}

.promo img {
  width: 100%;
  height: 100%;
  background-color: var(--branco);
  object-fit: cover;
  display: block;
}