@import '../../styles/variables.css';

.badge-verde {
  background-color: var(--verde-menta);
  display: inline-block;
}
.badge-text {
  color: var(--cinza-escuro);
  font-weight: 100;
  font-size: 18px;
  letter-spacing: -1px;
  word-spacing: -1.5px;
  margin: 6px;
  font-weight: 600;
}

.badge-logo {
  width: 32px;
  height: 32px;
  background-color: var(--azul-escuro);
  color: var(--cinza-neutro);
  border-radius: 50%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 19px;
  font-weight: 100;
}


.texto-pequeno {
  color: var(--cinza-escuro);
  font-size: 15px;
}

.badge-desconto {
  position: absolute;
  right: 2%;
  bottom: 0px;
  width: 20%;
  height: 30%;

  background: var(--amarelo-suave);
  color: var(--cinza-escuro);
  font-weight: 900;
  font-size: 95%;
  display: flex;
  align-items: center;
  justify-content: center;

  padding: 8px 12px;
  border-radius: 50%;

  animation: floatY 2.8s cubic-bezier(.45,.05,.55,.95) infinite;
}

.checked-icon {
  width: 34px;
  height: 34px;

  background: var(--verde-menta);
  color: var(--verde-escuro);

  border-radius: 50%;

  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 32px;
  font-weight: bold;
  flex-shrink: 0;
}

.star{
  fill: var(--amarelo-suave);
  width: 20px;
  height: 20px;
  stroke: var(--amarelo-suave-sombreado);
  stroke-width: 1.5;
}

.stars {
  display: flex;
  gap: 4px;
  align-items: center;
}

.icon-shield {
  width: 64px;
  height: 64px;

  background-color: var(--verde-menta);
  border-radius: 50%;

  display: flex;
  align-items: center;
  justify-content: center;
}

.icon-shield svg {
  width: 40px;
  height: 40px;
  fill: none;
  stroke: var(--verde-escuro);
  stroke-width: 2;
  stroke-linecap: round;
  stroke-linejoin: round;
}

.icon-shield svg path {
  fill: none;
}

.icon-shield .check {
  stroke: var(--verde-escuro);
}

@keyframes floatY {
  0% {
    transform: translateY(0) scale(1);
  }

  25% {
    transform: translateY(-16px) scale(0.94, 1.06);
  }

  50% {
    transform: translateY(-2px) scale(1.04, 0.96);
  }

  75% {
    transform: translateY(-14px) scale(0.97, 1.03);
  }

  100% {
    transform: translateY(-1px) scale(1);
  }
}
