@import '../../styles/variables.css';

body {
  padding-top: 56px; 
}

.navbar-cinza-claro {
  background-color: var(--cinza-neutro);
  opacity: 0.9;
}

.texto-titulo {
  font-weight: 900;
  color: var(--azul-escuro);
  font-size: 19px;
  letter-spacing: 0.2px;
  text-shadow: 0 0 0.5px currentColor;
}

@media (max-width: 400px) {
  .texto-titulo {
    text-align: center;
  }
}